.entirePage {
    display: inline-block;
    background-color: white;
    height: 400px;
    width: 100%;
    border: 10px solid white;
}
.one {
  height: 24%;
  width: 100%;
  background-color: white; 
  border: 10px 10px 0px 10px solid white;
  position: relative;
  margin: 5px;
}
.two {
  height: 55%;
  width: 100%;
  background-color: white;
  border: 10px solid white;
  font-family: Arial;
  font-size: 15px;
  min-height: 55%;
  min-width: 100%;
}
.three {
  height: 45%;
  width: 100%;
  background-color: #81BEF7;
  border: 10px solid white;
}
.four {
  height: 25%;
  width: 100%;
  background-color: #81BEF7;
  border: 10px solid white;
}
.oneRed {
  height: 100%;
  width: 30%;
  background-color: red;
  float: left;
}
.oneBlue {
  height: 100%;
  width: 30%;
  background-color: #81BEF7;
  margin: 0px 0px 0px 33%;
}
.oneGrey {
  height: 100%;
  width: 30%;
  background-color: #585858;
  margin: -96px 0px 0px 66%;
}
.threeRedblock {
  height: 100%;
  width: 30%;
  background-color: red;
  float: left;
}
.fourRed {
    height: 100%;
  width: 30%;
  background-color: red;
  float: right;
}
.fourRedGrey {
  height: 100%;
  width: 70%;
  background-color: #585858;
  margin: 0px 0px 0px 16%;
}
